<div> </div>
<!--[formGroup]="addOccasion"-->
<form role="form" class="container"  ></form>
  <h2 class="container">הוספת ארוע</h2>
  <div class="form-group">
    <label for="typeOccasion">סוג ארוע</label>
    <!--formControlName="type"-->
    <select #typeOccasion name="typeOccasion" class="select" [(ngModel)]="typeId" >
      <option [value]="o.Id" *ngFor="let o of occasionTypes">{{o.Name}}</option>
    </select>
    <!--div *ngIf="formControls.type.errors" class="alert alert-danger">
      'סוג ארוע' הינו שדה חובה
    </div-->
  </div>
  <div dir="ltr">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="fromDate" [(ngModel)]="fromDate" required pattern="20[0-9]{2}-[0-1][0-9]-[0-3][0-9]"
          ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><img class="i" src="assets/img/calendar.png"></button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="toDate" [(ngModel)]="toDate" required pattern="20[0-9]{2}-[0-1][0-9]-[0-3][0-9]"
          ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><img class="i" src="assets/img/calendar.png"></button>
        </div>
      </div>
    </div>
    <div>
      <b>מלוות</b>
      <ng-multiselect-dropdown placeholder="בחירת מלווה" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
        name="chooseTeacher" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
    <div>
      <b>בחירת מחזור</b>
      <div *ngFor="let layer of layers">
        <label for="layer{{layer.Id}}">{{layer.Name}}</label>
        <input type="checkbox" value="{{layer.Id}}" id="layer{{layer.Id}}" name="layer{{layer.Id}}" [(ngModel)]="isCheckedLayers[layer.Id]">
      </div>
    </div>
    <div>
      <b (click)="onChooseLayer()" class="pointer">בחירת כיתות</b>
      <div *ngFor="let cls of classes">
        <label for="cls{{cls.Id}}">{{cls.Name}}</label>
        <input type="checkbox" value="{{cls.Id}}" id="cls{{cls.Id}}" name="cls{{cls.Id}}" [(ngModel)]="isCheckedClasses[cls.Id]">
      </div>
    </div>
    <button type="submit" class="btn btn-default button" (click)="onAddOccasion()">אישור</button>
    <form>