<div *ngIf="!loaded"  class="text-center">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<form *ngIf="loaded" role="form" [formGroup]="addOccasion" (ngSubmit)="onAddOccasion()" class="container">
  <h2 class="container">הוספת ארוע</h2>
  <div class="form-group">
    <label for="typeOccasion">סוג ארוע</label>
    <select #typeOccasion name="typeOccasion" [formControl]="addOccasion.controls['typeCtrl']" class="select"
      [(ngModel)]="typeId">
      <option [value]="o.Id" *ngFor="let o of occasionTypes">{{o.Name}}</option>
    </select>
    <div *ngIf="addOccasion.controls['typeCtrl'].hasError('required') && addOccasion.controls['typeCtrl'].touched"
      class="alert alert-danger">
      'סוג ארוע' הינו שדה חובה
    </div>
    <div *ngIf="typeId==4" class="form-group">
      <div class="input-group" style="margin: 1rem">
        <label for="subj">מקצוע</label>
        <select title="בחרי במקצוע הרצוי" name="subj" [formControl]="addOccasion.controls['subjCtrl']" class=""
          [(ngModel)]="subject">
          <option [value]="s.Id" *ngFor="let s of subjects">{{s.Name}}</option>
        </select>
      </div>
    </div>
    <div dir="ltr">
      <div class="form-group">
        <div class="input-group input-grp">
          <input class="form-control" placeholder="yyyy-mm-dd" name="fromDate" [formControl]="addOccasion.controls['fromCtrl']"
            [(ngModel)]="fromDate" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
              <img class="i" src="assets/img/calendar.png">
            </button>
          </div>
        </div>
        <div *ngIf="addOccasion.controls['fromCtrl'].hasError('required') && addOccasion.controls['fromCtrl'].touched"
          class="alert alert-danger">
          מתאריך' הינו שדה חובה'
        </div>
        <div *ngIf="addOccasion.controls['fromCtrl'].hasError('pattern') && addOccasion.controls['fromCtrl'].touched"
          class="alert alert-danger">
          מתאריך' אינו כתוב לפי התבנית המתאימה'
        </div>
      </div>
      <select name="fromLesson" [formControl]="addOccasion.controls['fromLsnCtrl']" class="select" [(ngModel)]="fromLesson">
        <option [value]="l" *ngFor="let l of lessons">{{l}}</option>
      </select>
      <label>משעור</label>
      <div *ngIf="addOccasion.controls['fromLsnCtrl'].hasError('required') && addOccasion.controls['fromLsnCtrl'].touched"
      class="alert alert-danger">
      משעור' הינו שדה חובה'
    </div>
      <div class="form-group">
        <div class="input-group input-grp">
          <input class="form-control" placeholder="yyyy-mm-dd" name="toDate" [formControl]="addOccasion.controls['toCtrl']"
            [(ngModel)]="toDate" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
              <img class="i" src="assets/img/calendar.png">
            </button>
          </div>
        </div>
        
      </div>
      <select name="toLesson" [formControl]="addOccasion.controls['toLsnCtrl']" class="select" [(ngModel)]="toLesson">
        <option [value]="l" *ngFor="let l of lessons">{{l}}</option>
      </select><label>עד שעור</label>

      <div>
        <b>מלוות</b>
        <ng-multiselect-dropdown placeholder="בחירת מלווה" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
         name="chooseTeacher" (onSelect)="onItemSelect($event)" [formControl]="addOccasion.controls['teacherCrtl']" (onSelectAll)="onSelectAll($event)"(onDeSelect)="onItemDeSelect($event)">
         <!--  -->
        </ng-multiselect-dropdown>
      </div>
      <div>
        <b>בחירת מחזור</b>
        <div *ngFor="let layer of layers">
          <label for="layer{{layer.Id}}">{{layer.Name}}</label>
          <input type="checkbox" value="{{layer.Id}}"[formControl]="addOccasion.controls['layersCtrl']" id="layer{{layer.Id}}" name="layer{{layer.Id}}" 
            [(ngModel)]="isCheckedLayers[layer.Id]">
            <!--  -->
        </div>
      </div>
      <div>
        <b (click)="onChooseLayer()" class="pointer">בחירת כיתות</b>
        <div *ngFor="let cls of classes">
          <label for="cls{{cls.Num}}">{{cls.Name}}</label>
          <input type="checkbox" value="{{cls.Num}}" [formControl]="addOccasion.controls['classCtrl']"  id="cls{{cls.Num}}" name="cls{{cls.Num}}" [(ngModel)]="isCheckedClasses[cls.Num]">
          <!--  -->
        </div>
      </div>
      <div *ngIf="!addOccasion.valid" class="alert alert-danger"> הטופס אינו מושלם, יש לודא כי כל שדות החובה מלאים</div>
      <div *ngIf="addOccasion.valid" class="alert alert-success">הטופס מוכן</div>
      <button type="submit" class="btn btn-default button" [disabled]="!addOccasion.valid">אישור</button>