<div class="input-group mb-3">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" [disabled]="!currentDirFiles" (click)="onLoad()"
            type="button">טעינה</button>
    </div><input type="text" class="form-control" placeholder="נא הדביקי את ניתוב התיקיה" aria-label="ניתוב תיקיה"
        (change)="dirEvent($event)" aria-describedby="basic-addon2">
    
    <div *ngIf="success && clicked" class="alert alert-success" role="alert">
        !טעינת הקבצים הסתימה בהצלחה
    </div>
    <div *ngIf="!success && clicked" class="alert alert-danger" role="alert">
        !טעינת הקבצים נכשלה
    </div>
</div>
