<p>view-absence works!</p>
   
<!-- Id ?:number;
TeacherId:number;
FromDate :Date;
ToDate :Date;
TeacherStandIn ?:number;
Type:number;
FromLesson:number;
ToLesson:number; -->

<form>
    <div>
        <label>קוד חיסור</label><input type="number" readonly [value]="id">
    </div>
    
     <div class="form-group">
      <label for="abscentTeacher">מורה חסרה</label>
      <select #abscentTeacher name="abscentTeacher" class="select" [(ngModel)]="teacherId">
        <option [value]="teacher.Id" *ngFor="let teacher of teachers">{{teacher.Name}}</option>
      </select>
    </div>
<div dir="ltr">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="fromDate" [(ngModel)]="fromDate" ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><img class="i" src="assets/img/calendar.png"></button>
        </div>
      </div>
    </div>
  </div>
  <div dir="ltr">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="toDate" [(ngModel)]="toDate" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><img class="i" src="assets/img/calendar.png"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="absenceType">סוג חסור</label>
    <select #abscentTeacher name="absenceType" class="select" [(ngModel)]="absenceTypeId">
      <option [value]="abs.Id" *ngFor="let abs of absenceTypes">{{abs.Name}}</option>
    </select>
  </div>
  <div>
    <p></p>
    <div >
     <label>משיעור</label>
      <select #fromLessonIn class="select"  name="fromLesson" [(ngModel)]="fromLesson">
      <option *ngFor="let lsn of lessons" [value]="lsn.Id" >{{lsn.Name}}</option>
      </select>
        <!-- <input type="checkbox" id="{{lsn.Id}}" name="lsn{{lsn.Id}}" value="{{lsn.Id}}" [(ngModel)]="isCheckedLessons[lsn.Id]"> -->
    </div>  
    <div >
        <label>עד שיעור:</label> 
        <select #toLessonIn name="toLesson" [(ngModel)] = "toLesson">
         <option *ngFor="let lsn of lessons" [value]="lsn.Id" >{{lsn.Name}}</option>
         </select>
           <!-- <input type="checkbox" id="{{lsn.Id}}" name="lsn{{lsn.Id}}" value="{{lsn.Id}}" [(ngModel)]="isCheckedLessons[lsn.Id]"> -->
       </div>      
  </div>

    <div class="checkbox">
      <input type="checkbox" name="wholeDay" [(ngModel)]="wholeDay"><label>טיפול יומי גורף</label>
    </div>

    <div *ngIf="wholeDay" class="form-group">
        <label for="standInTeacher">ממלאת מקום</label>
        <select #standInTeacher name="standInTeacher" class="select" [(ngModel)]="teacherStandIn">
          <option [value]="teacher.Id" *ngFor="let teacher of teachers">{{teacher.Name}}</option>
          </select>
    </div>

    <button type="submit" class="btn btn-default button" (click)="onAddAbsence()">אישור</button>
 
</form>
