
<div  class="container">
  <h2>העדרות למורה</h2>
  <form role="form" >
     <div class="form-group">
      <label for="abscentTeacher">מורה חסרה</label>
      <select #abscentTeacher name="abscentTeacher" class="select">
        <option>aaaaa</option>
        <option>bbbb</option>
        <option>ccccc</option>
        <option>ddddd</option>
      </select>
    </div>

    <div class="form-group">
   <label for="fromDate">מתאריך</label>
    <input type="datetime" [(ngModel)]="fromDate" name="fromDate">
    </div> 
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="toDate" [(ngModel)]="toDate" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="wholeDay" [(ngModel)]="wholeDay"   ><label>טיפול יומי גורף</label>
    </div>

    <div *ngIf="wholeDay" class="form-group">
        <label for="standInTeacher">ממלאת מקום</label>
        <select #standInTeacher name="standInTeacher" class="select">
            <option>aaaaa</option>
            <option>bbbb</option>
            <option>ccccc</option>
            <option>ddddd</option>
          </select>
    </div>

    <button type="submit" class="btn btn-default">אישור</button>
  </form>
</div>

