.back{
    padding: 20vh;
    text-align: center;
        /*background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
}
h1{
    font-size: 5vw
}
h1,h2{
    /* set the background color*/
    background: linear-gradient(141deg, #9fb8ad 0%, #289640 51%, #087238 75%);
    /* background color masked along the text and clip away the rest*/
    background-clip: text;
    -webkit-background-clip: text;
    /* make fill color to transparent so that masked background color will be shown*/
    -webkit-text-fill-color: transparent;
}
.logo{
position: absolute;
top:10vh;
left:7vw;
opacity: 0.7;
width: 180px;
}