<div class="container">
    <h1>אודות המערכת</h1>
    <p>
        בניהול מוסד לימודים ישנם תחומים רבים, התחום העיקרי הוא ניהול מערכת השעות.
        כאשר מורה נעדרת יש צורך לטפל בשעורים שבהן היא מלמדת, לקבוע ממלאת/ות מקום או לבצע הזזת שעורים במקרה הצורך, כמו כן
        להוסיף לה היעדרות.
        כאשר יש צורך לאחד כיתות, לשחרר כיתות וכדו' יש לבצע את הפעולות הנדרשות.
        במקרה של אירוע, ז"א אין שעור/ים סדיר/ים (כמו הרצאה, טיול או מבחן) יש לדאוג לפרטים המתאימים.
        כאשר רוצים לצפות במערכת השעות, או לאפשר למורות/תלמידות צפייה במערכת המתאימה להן, יש לאפשר להן.
        בבנייתנו את המערכת חקרנו את המערכות הנמצאות בשימוש כיום, למדנו את הצרכים והדרישות. מערכת זו פותחה ועוצבה כדי
        לעמוד בדרישות, להיות נוחה, יעילה וזמינה.
    </p>
    <hr>
    <p>
        <ol>
            כמו שנכתב לעיל המערכת מאפשרת:<br>
            <li> להוסיף חיסור למורה בתאריך המתאים, וכן לשבץ מורה ממלאת מקום מתוך רשימת המורות.</li>
            <!-- <li> להוסיף שיעור, להוריד שיעור או לעדכן שיעור בפרטים הרלוונטיים.</li> -->
            <li> להוסיף אירוע, להוריד אירוע או לעדכן אירוע בפרטים הרלוונטיים.</li>
            <li> לצפות במערכת המתאימה, לפי כיתות, מורות או אירועים.</li>
        </ol>
        <ul>
            ההרשאות הקימות במערכת:
            <li>
                הרשאת מנהל - המזכירה האחראית יכולה לנהל את השינויים והפרטים שקורים כאשר מורה חסרה. לשנות את המערכת לפי
                שינויים
                זמניים, לנהל את השיעורים, לנהל את האירועים.</li>
            <li> הרשאת אורח - כל אחד אחר יכול לצפות במערכת השעות העדכנית, לצפות באירועים שנקבעו וליצור קשר עם הצוות
                הטכני - צוות
                התמיכה.</li>
            המערכת חיבת כקלט קבצי xml תקניים שנבנו במערכת התואמת -תלמ"ש, המכילים נתונים בסיסיים למערכת השעות. בנתונים
            אלו
            כלולים מבנה מוסד הלימודים, הכיתות הקימות בו, המקצועות הנלמדים בו והמורות המלמדות בו.
        </ul>
        <p>בתקווה שהבנתם ונהניתם</p>
        <p>
            צוות School Schedule
        </p>
</div>