.i{
    width: 20px;
    height: 20px;
  }
  form {
    border: 3px solid #f1f1f1;
    width:50%;
    direction:rtl;
    margin:auto;
    margin-bottom: 20vh;
  }
  .container {
    padding: 16px;
    }
      label{
      font-size: 20px;
    }
    