<div *ngIf="!loaded" class="text-center">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<form *ngIf="loaded" [formGroup]="editOccasion" (ngSubmit)="onEditOccasion()">
    <h2><span>עריכת ארוע</span> {{occ.Id}} </h2>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">סוג אירוע</label>
        <div class="col-sm-10">
            <select name="typeOccasion" [formControl]="editOccasion.controls['typeCtrl']" [ngModel]="occ.OccasionType"
            (ngModelChange)="onChangeType($event)" class="custom-select mr-sm-2" value="occ.OccasionType" id="inlineFormCustomSelect">
                <option value="{{ot.Id}}" *ngFor="let ot of occTypes" [selected]="occ.OccasionType===ot.Id">{{ot.Name}}
                </option>
            </select>
        </div>
    </div>
    <div *ngIf="editOccasion.controls['typeCtrl'].hasError('required') && editOccasion.controls['typeCtrl'].touched"
        class="alert alert-danger">
        סוג ארוע' הינו שדה חובה'
    </div>
    <div *ngIf="occ.OccasionType==4" class="form-group row">
        <label for="" class="col-sm-2 col-form-label">מקצוע</label>
        <div class="col-sm-10">
            <select class="custom-select mr-sm-2" [formControl]="editOccasion.controls['subjCtrl']"
                [ngModel]="occ.Subject" (ngModelChange)="onChangeSub($event)" id="inlineFormCustomSelect" value="{{occ.Subject}}">
                <option value="{{s.Id}}" *ngFor="let s of subjects">{{s.Name}}</option>
            </select>
        </div>

    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">מתאריך</label>
        <div class="">
            <input class="form-control" type="text" placeholder="yyyy-mm-dd" value="" name="fromDate"
                [formControl]="editOccasion.controls['fromCtrl']" [(ngModel)]="occ.FromDate" ngbDatepicker
                #d1="ngbDatepicker" >
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                    <img class="i" src="assets/img/calendar.png">
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="editOccasion.controls['fromCtrl'].hasError('required') && editOccasion.controls['fromCtrl'].touched"
        class="alert alert-danger">
        מתאריך' הינו שדה חובה'
    </div>
    <div *ngIf="editOccasion.controls['fromCtrl'].hasError('pattern') && editOccasion.controls['fromCtrl'].touched"
        class="alert alert-danger">
        מתאריך' אינו כתוב לפי התבנית המתאימה'
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">עד תאריך</label>
        <div class="">
            <input class="form-control" type="text" placeholder="yyyy-mm-dd" value="" name="toDate"
                [formControl]="editOccasion.controls['toCtrl']" [(ngModel)]="occ.ToDate" ngbDatepicker
                #d2="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                    <img class="i" src="assets/img/calendar.png">
                </button>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">משעור</label>
        <div class="col-sm-10">
            <select class="custom-select mr-sm-2" [formControl]="editOccasion.controls['fromLsnCtrl']"
                [ngModel]="occ.FromLesson"(ngModelChange)="onChangeFromLsn($event)" value="{{fromLsn}}" id="inlineFormCustomSelect">
                <option value="{{h}}" *ngFor="let h of hours" [selected]="occ.FromLesson==h">{{h}}</option>
            </select> </div>

    </div>
    <div *ngIf="editOccasion.controls['fromLsnCtrl'].hasError('required') && editOccasion.controls['fromLsnCtrl'].touched"
        class="alert alert-danger">
        משעור' הינו שדה חובה'
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">עד שעור</label>
        <div class="col-sm-10">
            <select class="custom-select mr-sm-2" [formControl]="editOccasion.controls['toLsnCtrl']"
                [ngModel]="occ.ToLesson"(ngModelChange)="onChangeToLsn($event)" value="{{toLsn}}" id="inlineFormCustomSelect">
                <option value="{{h}}" *ngFor="let h of hours" [selected]="occ.ToLesson==h">{{h}}</option>
            </select> </div>
    </div>
    <div *ngIf="!editOccasion.valid" class="alert alert-danger"> הטופס אינו מושלם, יש לודא כי כל שדות החובה מלאים
        <div>{{editOccasion.errors | json}}</div>
    </div>
        <div *ngIf="editOccasion.valid" class="alert alert-success">הטופס מוכן</div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success" [disabled]="!editOccasion.valid">עדכן</button>
        </div>
    </div>
    <a (click)="delete(occ.Id)" title="הנך בטוחה שברצונך למחוק?" class="card-link btn btn-outline-danger">מחיקה</a>
    <a (click)="navigateToList()" class="card-link btn btn-secondary">חזרה לרשימה</a>
</form>