<!--The content below is only a placeholder and can be replaced.-->
<h3>המערכת</h3>

<div class="schedule-container">
    <div class="d-flex full-width">
        <div>&nbsp;</div>
        <div class="colmn" *ngFor="let column of data.ColumnTitles">
            {{column}}
        </div>
    </div>
    <div class="d-flex full-height">
        <div class="d-flex-column">
            <div  class="rows" *ngFor="let row of data.RowTitles">
                {{row}}
            </div>
        </div>
        <div class="d-flex-column" *ngFor="let columnData of data.Cells">
            <div class="cell"  *ngFor="let cellData of columnData" [ngStyle]="{'flex': cellData.RowSpan,'background-color': '#'+cellData.Color}">
                <p>{{cellData.TeacherName}}</p>
                <p>{{cellData.SubjectName}}</p>
            </div>
        </div>
    </div>
</div>