.schedule-container {
    width: 100vw;
    height: 100vh;
    padding: 15vh;
    padding-top: 5vh;
  }
  
  .d-flex {
    display: flex;
  }
  
  .d-flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .full-height {
    height: 190%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .d-flex div,
  .d-flex-column div {
    flex: 1;
  }
  
  .d-flex div,
  .d-flex-column div,
  .schedule-container {
    border: 1px solid black;
  }
  .colmn{
text-align: center;
font-weight: bold;
text-decoration-line: underline;
  }
  .rows{
text-align: center;
font-weight: bold;
  }
  .cell{
text-align: center;
  }
