body{
  font-family: sans-serif ;/*not work*/
}
.i{
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 10px;
}
.myActive{
    color: rgb(247, 38, 247);
    background-color: rgb(52, 19, 243);
    text-decoration: none;

}
  
  li:hover {
    color: white;
    background-color: darkgreen;
  }
  
  li{
    color: black;
    display: inline;
    background-color: #4CAF50;
    padding: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;   font-family: sans-serif;
 
  }
  ul{
    background-color: #4CAF50;
    padding: 20px;
  }
  .grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.pointer {cursor: -webkit-pointer; cursor: pointer;}
.comment{
position: absolute;
bottom: 0;
width: 120px;
}