<nav>
    <ul class="ul">    
        <li class="li"><img src="assets/img/schedule.png" class="i"></li>
        <li class="li pointer" routerLink="justanhour" routerLinkActivate="myActive"><a>justanhour-studytime</a></li>
        <li class="li pointer" routerLink="studyTime/3" routerLinkActivate="myActive"><a>studytime-3</a></li>
        <li class="li pointer" routerLink="absence-for-tacher/add" routerLinkActivate="myActive"><a>הוספת חסור למורה</a></li>
        <li class="li pointer" routerLink="occasion/add" routerLinkActivate="myActive"><a>הוספת ארוע/מבחן</a></li>
        <li class="li pointer" routerLink="login" routerLinkActivate="myActive"><a>כניסה</a></li>
        <li class="li pointer" routerLink="" routerLinkActivate="active"><a>דף הבית</a></li>
    </ul>
</nav>
<div style="text-align:center">
  <h1>
שלום
</h1>  
<hr>
</div>
<router-outlet></router-outlet>
