<nav>
    <ul class="ul">    
        <li class="li"><img src="assets/img/schedule.png" class="i"></li>
        <li class="li" routerLink="justanhour" routerLinkActivate="myActive"><a>justanhour-studytime</a></li>
        <li class="li" routerLink="studyTime/3" routerLinkActivate="myActive"><a>studytime-3</a></li>
        <li class="li" routerLink="absence/addAbsence" routerLinkActivate="myActive"><a>addAbsence</a></li>
        <li class="li" routerLink="login" routerLinkActivate="myActive"><a>כניסה</a></li>
        <li class="li" routerLink="" routerLinkActivate="active"><a>דף הבית</a></li>
    </ul>
</nav>
<div style="text-align:center">
  <h1>
שלום
</h1>  
<hr>
</div>
<router-outlet></router-outlet>
