<nav>
    <ul class="ul">
        <li class="li"><img src="assets/img/schedule.png" class="i"></li>
        <li class="li pointer" routerLink="studyTime/3" routerLinkActivate="active"><a>studytime-3</a></li>
        <li class="li pointer" routerLink="absence-for-teacher/add" routerLinkActivate="active"><a><img class="i" src="assets/img/file.png">הוספתחסור למורה</a></li>
        <li class="li pointer" routerLink="absence-for-teacher/view" routerLinkActivate="active"><a><img class="i" src="assets/img/file.png">הצגת חסור למורה</a></li>
        <li class="li pointer" routerLink="absence-for-teacher/view/8" routerLinkActivate="active"><a><img class="i" src="assets/img/file.png">8הצגת חסור למורה</a></li>
        <li class="li pointer" routerLink="occasion/add" routerLinkActivate="active"><a><img class="i" src="assets/img/add-event.png">ארועים/מבחנים</a></li>
        <li class="li pointer" routerLink="schedule" routerLinkActivate="active"><a><img class="i" src="assets/img/calendar-with-blocks.png">מערכת</a></li>
        <li class="li pointer" routerLink="login" routerLinkActivate="active"><a><img class="i" src="assets/img/enter.png">כניסה</a></li>
        <li class="li pointer" routerLink="" routerLinkActivate="active"><a><img class="i" src="assets/img/home.png">דף הבית</a></li>
    </ul>
</nav>
<div style="text-align:center">
    <h1>
        School Scedule
    </h1>
    <hr>
</div>
<router-outlet></router-outlet>
<!--div class="comment">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
                    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div-->